body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 8vh;
    padding: 0;

}
header nav{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: rgb(32, 31, 31);
}

header ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    align-self: center;
    margin: 20px;
    padding-right: 10%;
}

header ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: whitesmoke;
    font-size: x-large;
}



footer{
    width: 100%;
    height: 7vh;
    background-color: rgb(53, 52, 52);
}