{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} {% endblock %}</title>

<link rel="stylesheet" href="{% static "base.css" %}">

{%block css_files%}

{% endblock %}

</head>
<body>

<header>
    <nav>
        <ul>
            <li>
                <a href="{%url "Home_page" %}">Home</a>
            </li>
            <li>
                <a href="{%url "all_months_page"%}">All Months</a>
            </li>
        </ul>
    </nav>
</header>
    {%block content %}



    {% endblock %}

    <footer>
        
    </footer>
</body>
</html>